.contenedor{
    border: 5px solid #e1bee7;
    background-color: #fff1ff;/**/
    display: grid; /*dice como se va a comportar en el inspector aparece etiqueta grid al pulsar se enumeran las filas*/
    /*grid-template-columns:100px 200px ;me perimte definir las columnas van a tener y ancho*/
    grid-template-rows: 100px 200px;/*me perimte definir las filas van a tener y ancho*/
    grid-auto-columns: 100px;/*me perimte definir las filas van a tener y ancho*/
    grid-auto-flow: column;/*me perimte definir las filas van a tener y ancho*/
}

.item{
    border: 5px solid #e1bee7;/*color de borde*/
    font-size: 4rem;/*tamaño de letra*/
}